<ion-header>
    <ion-navbar color="blue">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>
            Home
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    </ion-card>

    <ion-card  *ngFor="let data of displayData">

        <ion-item>
            <h2> 
                <strong  style="color: #387FF5"> {{ data.name }}</strong>
                <ion-icon name="bookmark" style="position: absolute;right: 2px;"></ion-icon>
            </h2>
            <p style="position:relative; left:0px; top:40px; background-color:#387FF5;width:30%;padding: 10px 0;color:#fff;border-radius: 0px 10px 10px 0px;">{{ data.amount }}</p>
            <img src="img/{{ data.image }}">
        </ion-item>



        <ion-card-content>
            <p>{{data.descirption}}</p>
        </ion-card-content>
        <ion-item>
            <ion-row  *ngFor="let user of data.users"  style="border-top: 1px solid #F0F0F0">
                <ion-col  width-80>
                    <ion-item>
                        <ion-avatar item-left>
                            <img src="img/{{user.profilepic}}">
                        </ion-avatar>
                        <h2 style="color: #387FF5">{{user.username}}</h2>
                        <p>{{user.profile}}</p>
                    </ion-item>
                </ion-col>
                <ion-col  width-20  style="color: #387FF5">
                    <ion-icon name="chatboxes"></ion-icon>
                </ion-col>
            </ion-row>

        </ion-item>

        <ion-row  style="border-top: 1px solid #F0F0F0">
            <ion-col>
                <ion-icon name="navigate"></ion-icon>
                {{ data.distance }}
            </ion-col>
            <ion-col>
            </ion-col>
            <ion-col center text-center>
                {{ data.likes }}<ion-icon name="people"></ion-icon>

            </ion-col>
        </ion-row>

    </ion-card>
</ion-content>
